<div class="containerX" fxLayout="column"
  fxLayout.xs=column-reverse
  >
    <div class="container1" fxLayout="row" 
           fxLayout.xs=row-reverse
           fxFlex="100%"
           >
        <div fxFlex class="box1"></div>
        <div fxFlex class="box2"></div>
        <div fxFlex class="box3"></div>
    </div>
    <div class="container2" fxLayout="column" 
           fxLayout.xs=column-reverse
           fxFlex="100%"
           >
        <div fxFlex class="box3"></div>
        <div fxFlex class="box2"></div>
        <div fxFlex class="box1"></div>
    </div>
</div>